<div ng-controller="LoginCtrl" ng-switch="UserService.isLoggedIn" id="login-container">
  <div ng-switch-when="true">
    <h2>Welcome {{loggedInAs}}</h2>
  </div>
  <div ng-switch-when="false">
      <form method="post" id="login-form" class="well span4">
        <h2>Hello!</h2>

        <div ng-show="errorMessage" class="alert alert-error" ng-bind-html-unsafe="errorMessage"></div>
        
        <label>Username</label>
        <input type="text" name="username" ng-model="loginForm.username" class="span4 required" />
        <label>Password</label>
        <input type="text" name="password" ng-model="loginForm.password" class="span4 required" />

        <button type="submit" id="btn-login" class="btn btn-primary" ng-click="login()">
            <i class="icon-lock icon-white"></i>
            Sign in
        </button>
        <label id="remember-me" class="checkbox">Remember Me
            <input type="checkbox" checked="checked">
        </label>

        <div class="clear-fix"></div>

        <hr>
        <div class="btm-links">
            <a href="#" id="forgot-password">Forgot Your Password?</a>
            <a href="/#/register" id="create-account">Create An Account</a>
        </div>
      </form>
  </div>
</div>